###  출력하기 1

In [1]:
print("Hello")

Heollo

###  출력하기 2

In [2]:
print("Hello World")

Hello World

### 출력하기 3

In [6]:
print("Hello\nWorld")

Hello
World

### 출력하기 4

In [8]:
print("'Hello'")

'Hello'

### 출력하기 5

In [9]:
print('"Hello World"')

"Hello World"

### 출력하기 6

In [10]:
print("\"!@#$%^&*()\'")

"!@#$%^&*()'

### 출력하기 7

In [11]:
print('"C:\\Download\\\'hello\'.py"')

"C:\Download\'hello'.py"

### 출력하기 8

In [14]:
print('print("Hello\\nWorld")')

print("Hello\nWorld")

### 문자 1개 입력받아 그대로 출력하기

In [16]:
c = input()
print(c)

1
1

### 정수 1개 입력받아 int로 변환하여 출력하기

In [17]:
c = int(input())
print(c)

1
1

### 실수 1개 입력받아 변환하여 출력하기

In [24]:
f = float(input())
print(f)

1
1.0

### 정수 2개 입력받아 그대로 출력하기1

In [27]:
a = input()
b = input()
print(a)
print(b)

1
2
1
2

### 문자 2개 입력받아 순서 바꿔 출력하기1

In [28]:
a = input()
b = input()
print(b)
print(a)

1
2
2
1

### 실수 1개 입력받아 3번 출력하기

In [29]:
f = input()
for _ in range(3):
    print(f)

1
1
1
1

### 정수 2개 입력받아 그대로 출력하기2

In [30]:
a, b = input().split()
print(a)
print(b)

1 2
1
2

### 문자 2개 입력받아 순서 바꿔 출력하기2

In [32]:
a, b = input().split()
print(b, a)

1 2
2 1

### 문장 1개 입력받아 3번 출력하기

In [33]:
a = input()
print(a, a, a)

1
1 1 1

### 시간 입력받아 그대로 출력하기

In [35]:
a, b = input().split(':')
print(a, b, sep=':')

1:3
1:3

### 연월일 입력받아 순서 바꿔 출력하기

In [37]:
y, m, d = input().split('.')
print(d, m, y, sep='-')

1999.07.06
06-07-1999

### 주민번호 입력받아 형태 바꿔 출력하기

In [38]:
f, b = input().split('-')
print(f, b, sep='')

111-111
111111

### 단어 1개 입력받아 나누어 출력하기

In [39]:
st = input()
for s in st: 
    print(s)

1sf13
1
s
f
1
3

### 연월일 입력받아 나누어 출력하기

In [40]:
s = input()
print(s[:2], s[2:4], s[4:6])

200304
20 03 04

### 시분초 입력받아 분만 출력하기

In [41]:
h, m, s = input().split(':')
print(m)

17:23:57
23

### 단어 2개 입력받아 이어 붙이기

In [44]:
w1, w2 = input().split()
s = w1 + w2
print(s)

fa  faef
fafaef

### 정수 2개 입력받아 합 계산하기

In [45]:
a, b = map(int, input().split())
print(a+b)

3 4
7

### 실수 2개 입력받아 합 계산하기

In [48]:
a = float(input())
b = float(input())
print(a+b)

0.1
0.9
1.0

### 10진 정수 입력받아 16진수로 출력하기1

In [50]:
n = int(input())
print('%x' %n)

255
ff

### 10진 정수 입력받아 16진수로 출력하기2

In [51]:
n = int(input())
print('%X' %n)

255
FF

### 16진 정수 입력받아 8진수로 출력하기

In [53]:
n = int(input(), 16)
print("%o" %n)

f
17

### 영문자 1개 입력받아 10진수로 변환하기

In [54]:
# 10진수 유니코드 값으로 출력 
n = ord(input())
print(n)

A
65

### 정수 입력받아 유니코드 문자로 변환하기

In [55]:
c = int(input())
print(chr(c))

65
A

### 정수 1개 입력받아 부호 바꾸기

In [57]:
n = int(input())
print(-n)

2
-2

### 문자 1개 입력받아 다음 문자 출력하기

In [60]:
n = ord(input())
print(chr(n+1))

1
2

### 정수 2개 입력받아 차 계산하기

In [63]:
a, b= map(int, input().split())
c = a - b
print(c)

123 -123
246

### 실수 2개 입력받아 곱 계산하기

In [64]:
f1, f2 = map(float, input().split())
m = f1 * f2
print(m)

0.5 2.0
1.0

### 단어 여러 번 출력하기

In [65]:
w, n = input().split()
print(w * int(n))

love 3
lovelovelove

### 문장 여러 번 출력하기

In [67]:
n = int(input())
s = input()
print(n * s)

3
I lovs CS
I lovs CSI lovs CSI lovs CS

### 정수 2개 입력받아 거듭제곱 계산하기

In [68]:
a, b = map(int, input().split())
print(a**b)

2 10
1024

###  실수 2개 입력받아 거듭제곱 계산하기

In [69]:
f1, f2 = map(float, input().split())
print(f1 ** f2)

4.0 2.0
16.0

### 정수 2개 입력받아 나눈 몫 계산하기

In [70]:
a, b = map(int, input().split())
print( a // b )

10 3
3

### 정수 2개 입력받아 나눈 나머지 계산하기

In [71]:
a, b = map(int, input().split())
print(a % b)

10 3
1

### 실수 1개 입력받아 소숫점이하 자리 변환하기

In [72]:
f = float(input())
print(format(f, ".2f"))

3.141592
3.14

### 실수 2개 입력받아 나눈 결과 계산하기

In [75]:
f1, f2 = map(float, input().split())
print(format(f1/f2, ".3f"))

10.0 3.0
3.333

### 정수 2개 입력받아 자동 계산하기

In [76]:
a, b = map(int, input().split())
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)
print(format(a/b, ".2f"))

10 3
13
7
30
3
1
3.33

### 정수 3개 입력받아 합과 평균 출력하기

In [78]:
a, b, c = map(int, input().split())
print(a+b+c, format((a+b+c)/3, ".2f"))

1 2 3
6 2.00

### 정수 1개 입력받아 2배 곱해 출력하기

- n = 10
- print(n<<1)  #10을 2배 한 값인 20 이 출력된다.
- print(n>>1)  #10을 반으로 나눈 값인 5 가 출력된다.
- print(n<<2)  #10을 4배 한 값인 40 이 출력된다.
- print(n>>2)  #10을 반으로 나눈 후 다시 반으로 나눈 값인 2 가 출력된다.

In [79]:
n = int(input())
print(n<<1)

1024
2048

### 2의 거듭제곱 배로 곱해 출력하기

In [81]:
a, b = map(int, input().split())
print(a<<b)

1 3
8

###  정수 2개 입력받아 비교하기1

In [83]:
a, b = map(int, input().split())
print(a<b)

1 9
True

### 정수 2개 입력받아 비교하기2

In [85]:
a, b = map(int, input().split())
print( a==b)

0 0
True

###  정수 2개 입력받아 비교하기3

In [86]:
a, b = map(int, input().split())
print(b >= a)

0 -1
False

### 정수 2개 입력받아 비교하기4

In [87]:
a, b = map(int, input().split())
print(a!=b)

0 1
True

### 정수 입력받아 참 거짓 평가하기

In [88]:
n = int(input())
print(bool(n))

0
False

### 참 거짓 바꾸기

In [89]:
a = bool(int(input()))
print(not a)

1
False

### 둘 다 참일 경우만 참 출력하기

In [90]:
a, b = map(int, input().split())
print(bool(a) and bool(b))

1 1
True

### 하나라도 참이면 참 출력하기

In [91]:
a, b = map(int, input().split())
print(bool(a) or bool(b))

1 1
True

### 참/거짓이 서로 다를 때에만 참 출력하기

In [93]:
a, b = map(int, input().split())
c = bool(a)
d = bool(b)
print((c and (not d)) or ((not c) and d))

1 1
False

### 참/거짓이 서로 같을 때에만 참 출력하기

In [94]:
a, b = map(int, input().split())
c = bool(a)
d = bool(b)
print(((not c) and (not d)) or (c and d))

0 0
True

### 둘 다 거짓일 경우만 참 출력하기

In [96]:
a, b = map(int, input().split())
print(not (a or b) )

0 0
True

### 비트단위로 NOT 하여 출력하기
~(bitwise not), &(bitwise and), |(bitwise or), ^(bitwise xor),
<<(bitwise left shift), >>(bitwise right shift)

In [98]:
a = int(input())
print(~a)

2
-3

### 비트단위로 AND 하여 출력하기

In [99]:
a, b = map(int, input().split())
print(a & b)

3 5
1

### 비트단위로 OR 하여 출력하기

In [100]:
a, b = map(int, input().split())
print(a | b)

3 5
7

### 비트단위로 XOR 하여 출력하기

In [101]:
a, b = map(int, input().split())
print(a^b)

3 5
6

### 정수 2개 입력받아 큰 값 출력하기

In [102]:
a, b = map(int, input().split())
print(a if (a>=b) else b)

123 456
456

### 정수 3개 입력받아 가장 작은 값 출력하기

In [104]:
a, b, c = map(int, input().split())
print((a if (a<b) else b) if ((a if (a<b) else b)<c) else c)

3 -1 5
-1

### 정수 3개 입력받아 짝수만 출력하기

In [109]:
a, b, c = map(int, input().split())
if a%2 == 0:
    print(a)
if b%2 == 0:
    print(b)
if c%2 == 0:
    print(c)

1 2 4
2
4

### 정수 3개 입력받아 짝/홀 출력하기

In [110]:
a, b, c = map(int, input().split())
if a%2 == 0:
    print("even")
else:
    print("odd")
if b%2 == 0:
    print("even")
else:
    print("odd")
if c%2 == 0:
    print("even")
else:
    print("odd")

1 2 8
odd
even
even

### 정수 1개 입력받아 분류하기

In [111]:
n = int(input())
if n < 0:
    if n%2 == 0:
        print('A')
    else:
        print("B")
else:
    if n%2 == 0:
        print("C")
    else:
        print('D')

-2147483648
A

### 점수 입력받아 평가 출력하기

In [116]:
scr = int(input())
if scr >= 90:
    print("A")
elif scr >= 70:
    print("B")
elif scr >= 40:
    print("C")
else:
    print('D')

73
B

### 평가 입력받아 다르게 출력하기

In [119]:
s = input()
if s == 'A': 
    print('best!!!')
elif s == 'B': 
    print('good!!')
elif s == 'C': 
    print('run!')
elif s == 'D': 
    print('slowly~')
else:
    print("what?")

.
what?

### 월 입력받아 계절 출력하기

In [123]:
month = int(input())
if month // 3 == 1 :
    print('spring')
elif month // 3 == 2: 
    print('summer')
elif month // 3 == 3:
    print('fall')
else:
    print('winter')

12
winter

###  0 입력될 때까지 무한 출력하기

In [128]:
n = 1
while n != 0: 
    n = int(input())
    if n != 0: 
        print(n)

7
7
4
4
2
2
3
3
0

### 정수 1개 입력받아 카운트다운 출력하기1

In [129]:
n = int(input())
while n != 0: 
    print(n)
    n -= 1

5
5
4
3
2
1

### 정수 1개 입력받아 카운트다운 출력하기2

In [130]:
n = int(input()) - 1
while n >= 0: 
    print(n)
    n -= 1

5
4
3
2
1
0

### 문자 1개 입력받아 알파벳 출력하기

In [135]:
c = ord(input())
t = ord('a')
while t <= c:
    print(chr(t))
    t += 1

f
a
b
c
d
e
f

### 정수 1개 입력받아 그 수까지 출력하기1

In [136]:
n = int(input())
t = 0 
while t <= n: 
    print(t)
    t += 1

4
0
1
2
3
4

### 정수 1개 입력받아 그 수까지 출력하기2

In [137]:
n = int(input())
for i in range(n+1):
    print(i)

4
0
1
2
3
4

### 짝수 합 구하기

In [139]:
n = int(input())
s = 0
for i in range(1, n+1):
    if i%2 == 0: 
        s += i
print(s)

5
6

### 원하는 문자가 입력될 때까지 반복 출력하기

In [141]:
s = 'a'
while s != 'q': 
    s = input()
    print(s)

x
x
b
b
k
k
d
d
l
l
q
q

### 언제까지 더해야 할까?

In [2]:
n = int(input())
num = 0
s = 0 
while s < n:
    num += 1 
    s += num
print(num)

55
10

### 주사위 2개 던지기

In [3]:
n, m = map(int, input().split())
for i in range(1, n+1): 
    for j in range(1, m+1): 
        print(i, j)

2 3
1 1
1 2
1 3
2 1
2 2
2 3

### 16진수 구구단 출력하기

In [27]:
n = int(input(), 16)
num_list = list(range(1, 10)) + list("ABCDEF")
for num in num_list: 
    num = int(str(num), 16)
    print("%X"%n, "*%X"%num, "=%X"%(n*num), sep='')

B
B*1=B
B*2=16
B*3=21
B*4=2C
B*5=37
B*6=42
B*7=4D
B*8=58
B*9=63
B*A=6E
B*B=79
B*C=84
B*D=8F
B*E=9A
B*F=A5

### 게임의 왕이 되자

In [30]:
n = int(input())
for i in range(1, n+1): 
    if (i%10 == 3) or (i % 10 == 6) or ((i % 10 == 9)): 
        print('X', end=' ')
    else: 
        print(i, end=' ')

29
1 2 X 4 5 X 7 8 X 10 11 12 X 14 15 X 17 18 X 20 21 22 X 24 25 X 27 28 X

### 빛 섞어 색 만들기

In [32]:
r, g, b = map(int, input().split())
for i in range(r): 
    for j in range(g): 
        for k in range(b): 
            print(i, j, k)
print(r * g * b )

2 2 2
0 0 0
0 0 1
0 1 0
0 1 1
1 0 0
1 0 1
1 1 0
1 1 1
8

### 소리 파일 저장용량 계산하기

In [33]:
h, b, c, s = map(int, input().split())
print('{:.1f} MB'.format(h*b*c*s/8/1024/1024))

44100 16 2 10
1.7 MB

### 그림 파일 저장용량 계산하기

In [34]:
w, h, b = map(int, input().split())
print("{:.2f} MB".format(w*h*b/8/1024/1024))

1024 768 24
2.25 MB

### 거기까지! 이제 그만~

In [35]:
n = int(input())
s = 0
c = 1
while True: 
    s += c
    c += 1 
    if s >= n: 
        break
print(s)

57
66

### 3의 배수는 통과

In [36]:
n = int(input())
for i in range(1, n+1): 
    if i % 3 == 0: 
        continue
    print(i, end=' ')

10
1 2 4 5 7 8 10

### 수 나열하기1

In [38]:
a, d, n = map(int, input().split())
print(a + (n-1)*d)

1 3 5
13

### 수 나열하기2

In [39]:
a, r, n = map(int, input().split())
print(a * r ** (n-1))

2 3 7
1458

### 수 나열하기3

In [69]:
a, m, d, n = map(int, input().split())
cnt = 2

num = a
while cnt <= n: 
    num = (num * m) + d
    cnt += 1

print(num)

1 2 3 4
29

### 함께 문제 푸는 날

In [70]:
a, b, c = map(int, input().split())
d = 1 
while (d%a!=0) or (d%b!=0) or (d%c!=0): 
    d += 1 
print(d)

3 7 9
63

### 이상한 출석 번호 부르기1

In [79]:
n = int(input())
lst_num = list(map(int, input().split()))

d = []
for _ in range(23): 
    d.append(0)
    

for num in lst_num:
    d[num-1] += 1
 
for i in d: 
    print(i, end=' ')

10
1 3 2 2 5 6 7 4 5 9
1 2 1 1 2 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0

### 이상한 출석 번호 부르기2

In [80]:
n = int(input())
lst_num = list(map(int, input().split()))

d = []
for num in lst_num: 
    d.append(num)

for i in range(n-1, -1, -1): 
    print(d[i], end=' ')

10
10 4 2 3 6 6 7 9 8 5
5 8 9 7 6 6 3 2 4 10

### 이상한 출석 번호 부르기3

In [81]:
n = int(input())
lst_num = list(map(int, input().split()))

print(min(lst_num))

10
10 4 2 3 6 6 7 9 8 5
2

### 바둑판에 흰 돌 놓기

In [85]:
n = int(input())
d = []
for i in range(19): 
    d.append([])
    for _ in range(19): 
        d[i].append(0)
        
for _ in range(n): 
    a, b = map(int, input().split())
    d[a-1][b-1] = 1 
    

for i in range(19): 
    for j in range(19): 
        print(d[i][j], end=' ')
    print()

5
1 1
2 2
3 3
4 4
5 5
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

##

### 바둑알 십자 뒤집기

In [92]:
d = []
for i in range(19):
    d.append(list(map(int, input().split())))

    
n = int(input())
for i in range(n): 
    x, y = map(int, input().split())
    for j in range(19): 
        if d[j][y-1] == 0:
            d[j][y-1] = 1
        else: 
            d[j][y-1] = 0
    
        if d[x-1][j] == 0:
            d[x-1][j] = 1
        else:
            d[x-1][j] = 0

for i in range(19): 
    for j in range(19):
        print(d[i][j], end=' ')
    print()

0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
2
10 10
12 12
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

### 설탕과자 뽑기

In [115]:
h, w = map(int, input().split())
n = int(input())

lst = []
for i in range(h): 
    lst.append([])
    for j in range(w): 
        lst[i].append(0)
        
for i in range(n): 
    l, d, x, y = map(int, input().split())
    if d == 0: 
        for j in range(l): 
            lst[x-1][y+j-1] = 1
    else: 
        for j in range(l):
            lst[x+j-1][y-1] = 1
            
for i in lst: 
    for j in i: 
        print(j, end=' ')
    print()

5 5
3
2 0 1 1
3 1 2 3
4 1 2 5
1 1 0 0 0
0 0 1 0 1
0 0 1 0 1
0 0 1 0 1
0 0 0 0 1

### 성실한 개미

In [135]:
d = []
for i in range(10): 
    d.append(list(map(int, input().split())))
           
x, y = (1, 1)  
d[x][y] = 9

while True:
    if d[x][y+1] == 1:    
        if d[x+1][y] == 0: 
            d[x+1][y] = 9
            x += 1
             
        elif d[x+1][y] == 1:
            break
            
        elif d[x+1][y] == 2:
            d[x+1][y] = 9
            break
             
    elif (d[x][y+1] == 0):    
        d[x][y+1] = 9
        y += 1
        
    elif (d[x][y+1] == 2):
        d[x][y+1] = 9
        break 

                

for i in d: 
    for j in i:
        print(j, end=' ')
    print()

1 1 1 1 1 1 1 1 1 1
1 0 0 1 0 0 0 0 0 1
1 0 0 1 1 1 0 0 0 1
1 0 0 0 0 0 0 1 0 1
1 0 0 0 0 0 0 1 0 1
1 0 0 0 0 1 0 0 0 1
1 0 0 0 0 1 2 0 0 1
1 0 0 0 0 1 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 9 9 1 0 0 0 0 0 1
1 0 9 1 1 1 0 0 0 1
1 0 9 9 9 9 9 1 0 1
1 0 0 0 0 0 9 1 0 1
1 0 0 0 0 1 9 9 9 1
1 0 0 0 0 1 2 0 9 1
1 0 0 0 0 1 0 0 9 1
1 0 0 0 0 0 0 0 9 1
1 1 1 1 1 1 1 1 1 1